<!-- {{message}} -->
<div>
<div class="p-3">
    <p class="mb-0"  [innerHTML]="message"></p>
</div>
<div class="d-flex justify-content-center mb-3">
<button class="pull-right" type="ok" (click)="closeModal()">OK</button>
</div>
</div>
