<div class="showing-combodialog" *ngIf="!showSummary">
  <div class="custom-dialog-header sticky-top">
    <h4 class="label-header-dialog">{{comboData?.ComboDetails?.comboName}}</h4>
  </div>
  <div class="description-dialog">
    <div class="d-flex justify-content-between">
      <img *ngIf="comboData?.ComboDetails?.blobcontent" [src]="('data:image/JPEG;base64,' + comboData?.ComboDetails?.blobcontent) | domsanitize" alt=""  class="foodie custom-combo-foodie">
      <img src="assets/images/cater/01.png"  *ngIf="!comboData?.ComboDetails?.blobcontent" alt="" class="foodie custom-combo-foodie">
        <!-- <img src="assets/images/cater/01.png" alt="" class="foodie custom-combo-foodie"> -->
        <div class="division-width">
      <p class="combo-desc-size">{{comboData?.ComboDetails?.comboDescription}}</p>
    </div>
      <p class="para-width">${{comboData?.ComboDetails?.comboCost.toFixed(2)}}</p>
      <input type="number" (change)="changeItemsQuantity($event)" id="comboqtyid" [value]="comboData?.ComboDetails?.comboQty" class="quantity-input custom-quantity-number custom-input-qty" min="1" >
      <p class="mr-3 custom-total-price" *ngIf="comboData?.ComboDetails?.comboCost > 0">${{(comboData?.ComboDetails?.comboCost * comboQuantityTotal).toFixed(2)}}</p>
    </div>

    <div class="custom-dialog-scroll-box">
      <div *ngFor="let item of packNames;" class="custom-currency-dialog  custom-border-wrapper custom-dialog-specific">
        <p class="custom-weight-font  text-primary custom-title-margin"> {{item.packName}}</p>
        <div class="alert alert-info mt-2" role="alert" *ngIf="item.minItems && item.maxItems && item.packType !== '0'">
          <span *ngIf="item.minItems !== item.maxItems"> Please select between {{item.minItems}} and {{item.maxItems}} items from this list. The total item quantity should be equal to  {{comboQuantityTotal * item.maxItemQty}}.</span>
          <span *ngIf="item.minItems === item.maxItems && item.minItems !=='0'&& item.maxItems !=='0'"> Please select {{item.minItems}} item(s) from this list. The total item quantity should be equal to  {{comboQuantityTotal * item.maxItemQty}}.</span>
          <span *ngIf="item.minItems ==='0'&& item.maxItems ==='0'"> Please select item(s) from this list. The total item quantity should be equal to  {{comboQuantityTotal * item.maxItemQty}}.</span>
        </div>

        <ng-container *ngFor="let data of comboData?.ComboItems;let i=index;" >
            <div class="d-flex justify-content-between m-1" *ngIf="item.packName === data.packName">
              <p class="custom-sub-item-font">{{data.itemName}}</p>
              <input type="number"  class="quantity-input" *ngIf="item.packType !== '0'"   [id]="data.itemId" [value]="data.itemQty" min="0" >
              <input type="number"  class="quantity-input readonly-number-input" readonly *ngIf="item.packType === '0'"  [id]="data.itemId" [value]="data.itemQty" min="0" >
            </div>
        </ng-container>

      </div>
      <div class="mt-3 custom-dialog-specific" *ngIf="itemsList?.length">
      <!-- <p class="custom-weight-font">Items</p> -->
      <ng-container  *ngFor="let item of comboData?.ComboItems">
        <div *ngIf="item.packageId === '0'"  class="d-flex justify-content-between m-1" >
          <p class="custom-item-modal-dialog" >{{item.itemName}}</p>
          <input readonly type="number" class="quantity-input readonly-number-input" [id]="item.itemId+'someitem'" [value]="item.itemQty">
        </div>
     </ng-container>
    </div>
    <div class="d-flex justify-content-center">
      <button class="pull-right custom-color-save"  (click)="closeModal()">Close</button>&nbsp;
      <button class="pull-right"  (click)="onSave()">Save</button>
    </div>
  </div>
</div>

</div>











<!-- showing summary -->


<div class="showing-combodialog" *ngIf="showSummary">
  <div class="custom-dialog-header sticky-top">
    <h4 class="label-header-dialog">{{comboData?.ComboDetails?.comboName}}</h4>
  </div>
  <div class="description-dialog">
    <div class="d-flex justify-content-between">
      <img *ngIf="comboData?.ComboDetails?.blobcontent" [src]="('data:image/JPEG;base64,' + comboData?.ComboDetails?.blobcontent) | domsanitize" alt=""  class="foodie custom-combo-foodie">
      <img src="assets/images/cater/01.png"  *ngIf="!comboData?.ComboDetails?.blobcontent" alt="" class="foodie custom-combo-foodie">
        <!-- <img src="assets/images/cater/01.png" alt="" class="foodie custom-combo-foodie"> -->
        <div class="division-width">
      <p class="combo-desc-size">{{comboData?.ComboDetails?.comboDescription}}</p>
    </div>
      <p class="para-width">${{comboData?.ComboDetails?.comboCost}}</p>
      <input type="number" (change)="changeItemsQuantity($event)" id="comboqtyid" [value]="comboData?.ComboDetails?.comboQty" class="quantity-input readonly-number-input custom-quantity-number custom-input-qty" min="1" >
      <p class="mr-3 custom-total-price" *ngIf="comboData?.ComboDetails?.comboCost > 0">${{(comboData?.ComboDetails?.comboCost * comboQuantityTotal).toFixed(2)}}</p>
    </div>

    <div class="custom-dialog-scroll-box">
      <div *ngFor="let item of summaryData;" class="custom-currency-dialog  custom-border-wrapper custom-dialog-specific">
        <p class="custom-weight-font  text-primary custom-title-margin"> {{item.packName}}</p>

        <!-- showsummary -->
        <ng-container *ngFor="let data of comboData?.ComboItems;let i=index;">
          <div class="d-flex justify-content-between m-1" *ngIf="item.packName === data.packName && data.itemQty>0">
            <p class="custom-sub-item-font">{{data.itemName}}</p>
            <input type="number"  class="quantity-input readonly-number-input" *ngIf="item.packType !== '0'"   [id]="data.itemId" [value]="data.itemQty" min="0" >
            <input type="number" readonly  class="quantity-input readonly-number-input"  *ngIf="item.packType === '0'"  [id]="data.itemId" [value]="data.itemQty" min="0" >
          </div>
        </ng-container>

      </div>
      <div class="mt-3 custom-dialog-specific" *ngIf="itemsList?.length">
      <!-- <p class="custom-weight-font">Items</p> -->
      <!-- <div  *ngFor="let item of itemsList" class="d-flex justify-content-between m-1" >
        <p class="custom-item-modal-dialog" >{{item.itemName}}</p>
        <input readonly type="number" class="quantity-input readonly-number-input" [id]="item.itemId" [value]="item.itemQty">
      </div> -->
      <ng-container  *ngFor="let item of comboData?.ComboItems">
        <div *ngIf="item.packageId === '0'"  class="d-flex justify-content-between m-1" >
          <p class="custom-item-modal-dialog" >{{item.itemName}}</p>
          <input readonly type="number" class="quantity-input readonly-number-input" [id]="item.itemId" [value]="item.itemQty">
        </div>
    </ng-container>
    </div>
    <div class="d-flex justify-content-center">
      <button class="pull-right custom-color-save"  (click)="closeModal()">Close</button>&nbsp;
      <button class="pull-right" *ngIf="showSummary" (click)="onConfirm()">Confirm</button>
    </div>
  </div>
</div>

</div>



























































