<div>
<h1 class="custom-order-details custom-orders-list">My Orders</h1>
</div>
<table class="table container">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Order #</th>
      <th class="custom-row-width" scope="col">Order Name</th>
      <th scope="col">Order Type</th>
      <th scope="col">Delivery Date Time</th>
      <th scope="col" >Location</th>
      <th scope="col">Repeat Order</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of ordersList?.myOrderList|paginate: { itemsPerPage: 10,currentPage: p,totalItems:ordersList?.myOrderList?.length}">
      <td>{{item.orderNumber}}</td>
      <td>{{item.orderName}}</td>
      <td>{{item.orderType}}</td>
      <td>{{item.deliveryDate}}</td>
      <td >{{item.street}},{{item.suite}},{{item.state}},{{item.city}},{{item.zip}}</td>
      <td  ><i class="fa fa-repeat" aria-hidden="true" (click)="repeatOrder(item.orderNumber)"></i></td>
    </tr>
    <tr>
      <td colspan="6" class="text-right"><pagination-controls maxSize="4" (pageChange)="p = $event"></pagination-controls></td>
    </tr>
    <!-- <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>Jacob</td>
      <td><i class="fa fa-repeat" aria-hidden="true"></i></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>Larry</td>
      <td><i class="fa fa-repeat" aria-hidden="true"></i></td>
    </tr> -->
  </tbody>
  <!-- <div>
    <pagination-controls maxSize="4" (pageChange)="p = $event"></pagination-controls>
  </div> -->

</table>
