<div class="header">
  <img src="assets/images/eCaterXpert-01.png" class="aquilia-logo-one">
  <img src="assets/images/Aquila2.png" class="aquilia-logo">
  <div class="header-right">
    <div class="icons-wrapper">
    <div class="custom-info">
      <!-- <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Hooray!"></i> -->
    </div>
    <div class="custom-logout">
      <i class="fa fa-sign-out" aria-hidden="true" *ngIf="loginres && loginresponseData.AuthenticateUser.userId !== 0"  (click)="logOut()"></i>
      <span *ngIf="!loginres" (click)="loginFromHome();" >login</span>
    </div>
  </div>
    <div class="custom-user-wrapper" *ngIf="loginres && loginresponseData.AuthenticateUser.userId !== 0">
      <p class="custom-text-colour" >{{loginresponseData.AuthenticateUser.userName}}</p>
      <!-- <p class="custom-text-colour" *ngIf="!loginres || loginresponseData.AuthenticateUser.userId === 0">User Name</p> -->
      <i class="fa fa-user custom-fa-user" aria-hidden="true"></i>
    </div>
  </div>
</div>


<!-- <div class="footer">
  <p class="custom-footer-align">Copyright © 2020 E-Catering.com. All Rights Reserved.</p>
</div> -->
