.bag-items{
  display: none;
}

.custom-bag:hover .bag-items{
    display: block;
}

.custom-bag{
   float: right;
  //  width: 5%;
}

.cater-custom-review{
  width: 25% !important;
  bottom: 0 !important;
  position: fixed;
}

@media(max-width:320px){
  .cater-custom-review{
    width: 50% !important;
  }
  }

.cater-review-orders-btn{
  display: flex;
  justify-content: center;
}

.cater-shopping-cart{
  // display: flex;
  // justify-content: flex-end;
  // margin: 0 !important;
  // position: relative;
  // right: 25px;
  // top: 15px;
}

.cater-search{
    width: 400px;
    padding: 0px 0px 0px 25px;
    height: 32px;
    opacity: 0.9;
    border-radius: 10px;
    background-color: #fff;
    outline: 0;
    max-width: 840px;
    border: 1px solid lightgrey;
}