<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-controls="main_nav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span (click)="scrollLeft()" class="position-relative scroll-left-icon text-white">
    <i class="fa fa-angle-double-left"></i>
  </span>

  <div #widgetsContent class="collapse navbar-collapse custom-scroll-new-theme" id="main_nav">

    <div class="d-flex align-items-center justify-content-between">
      <ul class="navbar-nav" *ngFor="let item of category; let j=index">
        <li class="nav-item dropdown">
          <a class="nav-link  dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown">{{item.sectionName}}</a>
          <ul class="dropdown-menu">
            <li *ngFor="let sub of subCategory;  let k = index"><a class="dropdown-item"
                *ngIf="sub.sectionName === category[j].sectionName" href="javascript:void(0)"
                (click)="loadSubsection(sub)"> {{sub.subSectionName}}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <span (click)="scrollRight()" class="position-relative scroll-right-icon text-white">
    <i class="fa fa-angle-double-right"></i>
  </span>

</nav> -->




<div class="list-items-container">
  <nav class="navbar navbar-expand-lg navbar-light  nav-container">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-flex align-items-center justify-content-between w-100 p-0">


        <li class="nav-item dropdown dropdown-menu-container pl-0">
          <a class="nav-link dropdown-toggle nav-list-title" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Breakfast<span class="ml-2"><i class="fa fa-angle-down"></i></span>
          </a>
          <div class="dropdown-menu dropdown-menu-content" aria-labelledby="navbarDropdown">
            <a class="dropdown-item item-list AvenirLTStd-Heavy" href="#">Action</a>
            <a class="dropdown-item item-list AvenirLTStd-Heavy " href="#">Another action</a>

          </div>
        </li>
        <li class="nav-item dropdown dropdown-menu-container">
          <a class="nav-link dropdown-toggle nav-list-title" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Combos<span class="ml-2"><i class="fa fa-angle-down"></i></span>
          </a>
          <div class="dropdown-menu dropdown-menu-content" aria-labelledby="navbarDropdown">
            <a class="dropdown-item item-list AvenirLTStd-Heavy" href="#">Action</a>
            <a class="dropdown-item item-list AvenirLTStd-Heavy " href="#">Another action</a>

          </div>
        </li>
        <li class="nav-item dropdown dropdown-menu-container">
          <a class="nav-link dropdown-toggle nav-list-title" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Packages<span class="ml-2"><i class="fa fa-angle-down"></i></span>
          </a>
          <div class="dropdown-menu dropdown-menu-content" aria-labelledby="navbarDropdown">
            <a class="dropdown-item item-list AvenirLTStd-Heavy" href="#">Action</a>
            <a class="dropdown-item item-list AvenirLTStd-Heavy " href="#">Another action</a>

          </div>
        </li>
        <li class="nav-item dropdown dropdown-menu-container">
          <a class="nav-link dropdown-toggle nav-list-title" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Lunch<span class="ml-2"><i class="fa fa-angle-down"></i></span>
          </a>
          <div class="dropdown-menu dropdown-menu-content" aria-labelledby="navbarDropdown">
            <a class="dropdown-item item-list AvenirLTStd-Heavy" href="#">Action</a>
            <a class="dropdown-item item-list AvenirLTStd-Heavy " href="#">Another action</a>

          </div>
        </li>
        <li class="nav-item dropdown dropdown-menu-container">
          <a class="nav-link dropdown-toggle nav-list-title" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sides<span class="ml-2"><i class="fa fa-angle-down"></i></span>
          </a>
          <div class="dropdown-menu dropdown-menu-content" aria-labelledby="navbarDropdown">
            <a class="dropdown-item item-list AvenirLTStd-Heavy" href="#">Action</a>
            <a class="dropdown-item item-list AvenirLTStd-Heavy " href="#">Another action</a>

          </div>
        </li>
        <li class="nav-item dropdown dropdown-menu-container">
          <a class="nav-link dropdown-toggle nav-list-title" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Grazing, Snack, Swee<span class="ml-2"><i class="fa fa-angle-down"></i></span>
          </a>
          <div class="dropdown-menu dropdown-menu-content" aria-labelledby="navbarDropdown">
            <a class="dropdown-item item-list AvenirLTStd-Heavy" href="#">Action</a>
            <a class="dropdown-item item-list AvenirLTStd-Heavy " href="#">Another action</a>

          </div>
        </li>
        <li class="nav-item dropdown dropdown-menu-container">
          <a class="nav-link dropdown-toggle nav-list-title" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Kitchen Beverages<span class="ml-2"><i class="fa fa-angle-down"></i></span>
          </a>
          <div class="dropdown-menu dropdown-menu-content" aria-labelledby="navbarDropdown">
            <a class="dropdown-item item-list AvenirLTStd-Heavy" href="#">Action</a>
            <a class="dropdown-item item-list AvenirLTStd-Heavy " href="#">Another action</a>

          </div>
        </li>
        <li class="nav-item dropdown dropdown-menu-container">
          <a class="nav-link dropdown-toggle nav-list-title" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Special Request Menu<span class="ml-2"><i class="fa fa-angle-down"></i></span>
          </a>
          <div class="dropdown-menu dropdown-menu-content" aria-labelledby="navbarDropdown">
            <a class="dropdown-item item-list AvenirLTStd-Heavy" href="#">Action</a>
            <a class="dropdown-item item-list AvenirLTStd-Heavy " href="#">Another action</a>

          </div>
        </li>
        <li class="nav-item dropdown dropdown-menu-container">
          <a class="nav-link dropdown-toggle nav-list-title" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            N Street Village<span class="ml-2"><i class="fa fa-angle-down"></i></span>
          </a>
          <div class="dropdown-menu dropdown-menu-content" aria-labelledby="navbarDropdown">
            <a class="dropdown-item item-list AvenirLTStd-Heavy" href="#">Action</a>
            <a class="dropdown-item item-list AvenirLTStd-Heavy " href="#">Another action</a>

          </div>
        </li>
        <li class="nav-item dropdown dropdown-menu-container">
          <a class="nav-link dropdown-toggle nav-list-title" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            10% Mark Up - GRAB &<span class="ml-2"><i class="fa fa-angle-down"></i></span>
          </a>
          <div class="dropdown-menu dropdown-menu-content" aria-labelledby="navbarDropdown">
            <a class="dropdown-item item-list AvenirLTStd-Heavy" href="#">Action</a>
            <a class="dropdown-item item-list AvenirLTStd-Heavy " href="#">Another action</a>

          </div>
        </li>
        <!-- <li class="nav-item dropdown dropdown-menu-container pr-0">
          <a class="nav-link dropdown-toggle nav-list-title" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Amazon Cafe ONLY<span class="ml-2"><i class="fa fa-angle-down"></i></span>
          </a>
          <div class="dropdown-menu dropdown-menu-content" aria-labelledby="navbarDropdown">
            <a class="dropdown-item item-list AvenirLTStd-Heavy" href="#">Action</a>
            <a class="dropdown-item item-list AvenirLTStd-Heavy " href="#">Another action</a>
       
          </div>
        </li> -->
        <li class=" more-container">
          <!-- <a class="nav-link dropdown-toggle nav-list-title nav-more" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="ml-2"><i class="fa fa-th"></i></span> More
          </a>
          <div class="dropdown-menu dropdown-menu-content" aria-labelledby="navbarDropdown">
            <div class="more-dropdown">
              <div class="nav-item dropdown dropdown-menu-container">
                <a class="nav-link dropdown-toggle nav-list-title" href="#" id="navbarDropdown1" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  10% Mark Up - GRAB &<span class="ml-2"><i class="fa fa-angle-down"></i></span>
                </a>
                <div class="dropdown-menu dropdown-menu-content" aria-labelledby="navbarDropdown1">
                  <a class="dropdown-item item-list AvenirLTStd-Heavy" href="#">Action</a>
                  <a class="dropdown-item item-list AvenirLTStd-Heavy " href="#">Another action</a>

                </div>

              </div>


            </div>
          </div> -->
          <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div> -->
          <div class="more-menu-container">
            <a class="nav-link dropdown-toggle nav-list-title nav-more" >
              <span class="ml-2"><i class="fa fa-th"></i></span> More
            </a>
            <ul class="more-inner p-0 ">
              <li class="nav-item dropdown dropdown-menu-container position-relative">
                <div class="">
                  <a class="nav-link dropdown-toggle nav-list-title color-black" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    10% Mark Up - GRAB &<span class="ml-2"><i class="fa fa-angle-down"></i></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-content" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item item-list AvenirLTStd-Heavy" href="#">Action</a>
                    <a class="dropdown-item item-list AvenirLTStd-Heavy " href="#">Another action</a>

                  </div>
                </div>
              </li>
              <li class="nav-item dropdown dropdown-menu-container position-relative">
                <div class="">
                  <a class="nav-link dropdown-toggle nav-list-title color-black" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    10% Mark Up - GRAB &<span class="ml-2"><i class="fa fa-angle-down"></i></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-content" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item item-list AvenirLTStd-Heavy" href="#">Action</a>
                    <a class="dropdown-item item-list AvenirLTStd-Heavy " href="#">Another action</a>

                  </div>
                </div>
              </li>
              <li class="nav-item dropdown dropdown-menu-container position-relative">
                <div class="">
                  <a class="nav-link dropdown-toggle nav-list-title color-black" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    10% Mark Up - GRAB &<span class="ml-2"><i class="fa fa-angle-down"></i></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-content" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item item-list AvenirLTStd-Heavy" href="#">Action</a>
                    <a class="dropdown-item item-list AvenirLTStd-Heavy " href="#">Another action</a>

                  </div>
                </div>
              </li>
              <li class="nav-item dropdown dropdown-menu-container position-relative">
                <div class="">
                  <a class="nav-link dropdown-toggle nav-list-title color-black" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    10% Mark Up - GRAB &<span class="ml-2"><i class="fa fa-angle-down"></i></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-content" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item item-list AvenirLTStd-Heavy" href="#">Action</a>
                    <a class="dropdown-item item-list AvenirLTStd-Heavy " href="#">Another action</a>

                  </div>
                </div>
              </li>
            </ul>
          </div>

        </li>
        <!-- <li class="nav-item dropdown dropdown-menu-container pr-0">
          
          <a class="nav-link dropdown-toggle nav-list-title nav-more" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="ml-2"><i class="fa fa-th"></i></span> More
        </a>
          <ul class="dropdown-menu dropdown-menu-content" aria-labelledby="navbarDropdownMenuLink">
           <div class="more-dropdown">

          
            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Submenu</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Submenu action</a></li>
                <li><a class="dropdown-item" href="#">Another submenu action</a></li>
  
  
                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                    <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Second subsubmenu</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                    <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </div>
          </ul>
        </li> -->

      </ul>

    </div>
  </nav>
</div>