<ngx-spinner bdColor = "rgba(0,0,0,0.5)" size = "medium" color = "#0044dd" type = "ball-clip-rotate-multiple" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
