<h1 class="register-header-wrapper">Sign In To Continue</h1>
<section id="contact">
  <div class="content">
      <div id="form" class="form-height">

        <form  [formGroup]="login" (ngSubmit)="submit()">
              <div class="alert alert-danger" role="alert" *ngIf="loginError">
                Please Enter a valid credentials
              </div>
              <span>User Name</span>
              <input type="text" formControlName="userName" name="name" class="name" placeholder="Enter your username">
              <!-- <div  class="text-danger" *ngIf="loginData.userName.touched && loginData.userName.invalid">User name is required</div> -->
              <span>Password</span>
              <input id="password" formControlName="password" placeholder="Enter your password" type="password">
              <!-- <div class="text-danger"  *ngIf="loginData.userName.password && loginData.userName.invalid">Password is required</div> -->
              <div class="d-flex justify-content-center">
              
              <input type="submit" name="submit" [disabled]="!login.valid" value="Sign In" class="submit login-submit custom-signIN">
            </div>
        </form>

      </div>
      <div class="custom-alert-login alert-login">
         
      </div>
  </div>
</section>
