<!-- <div class="w3-sidebar w3-bar-block w3-border-right" id="mySidebar">
    <div class="w3-teal">
        <button class="w3-button w3-teal w3-xlarge hide-toggle "(click)="icontoggle()">☰</button> -->
<div class="right-panel ">
  <div class="custom-cart-icon">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      <p class="custom-cart-text">Cart</p>
  </div>
  <div class="custom-scrollbar">
      <div class="custom-items-cart-wrapper" *ngFor="let item of cart?.menuItems">
          <div class="custom-add-items" >
              <h3 class="cart-text-alignment">{{item.itemName}}</h3>
              <p>x<span>{{item.quantity}}</span></p>
          </div>
      </div>
      <div class="custom-items-cart-wrapper" *ngFor="let item of cart?.package">
        <div class="custom-add-items" >
            <h3 class="cart-text-alignment">{{item.PackageDetails.packageName}}</h3>
            <p>x<span>{{item.PackageDetails.PkgQty}}</span></p>
        </div>
      </div>
      <div class="custom-items-cart-wrapper" *ngFor="let item of cart?.combo">
        <div class="custom-add-items" >
            <h3 class="cart-text-alignment">{{item.ComboDetails.comboName}}</h3>
            <p>x<span>{{item.ComboDetails.comboQty}}</span></p>
        </div>
      </div>
<!-- amount div when greater than zero -->
<div *ngIf="cartAmount > 0" class="cart-items-footer-wrapper">
  
    <div class="d-flex align-items-center justify-content-between pb-2 border-subtotal-wrapper">
      <h6 class="cart-items-footer m-0">Subtotal</h6>
      <h6 class="cart-items-footer m-0">{{cartAmount.toFixed(2)}}</h6>
    </div>
    
    <!-- <div class="d-flex align-items-center justify-content-between pb-2">
      <h6 class="cart-items-footer m-0">tax+fee</h6>
      <h6 class="cart-items-footer m-0">0</h6>
    </div>
    <div class="d-flex align-items-center justify-content-between pb-2">
      <h6 class="cart-items-footer m-0">tip</h6>
      <h6 class="cart-items-footer m-0">0</h6>
    </div> -->
    <div class="d-flex align-items-center justify-content-between pb-2 mt-2 custom-total-cart">
      <h6 class="cart-items-footer m-0">Total</h6>
      <h6 class="cart-items-footer m-0">{{cartAmount.toFixed(2)}}</h6>
    </div>
  </div>

<!--// amount div when greater than zero -->

      <!--<div class="custom-items-cart-wrapper">
          <div class="custom-add-items">
              <h3 class="cart-text-alignment">GRILLED MARINATED FLANK STEAK: GF, DF, NF</h3>
              <p>x<span>1</span></p>
          </div>
      </div>
      <div class="custom-items-cart-wrapper">
          <div class="custom-add-items">
              <h3 class="cart-text-alignment">GRILLED MARINATED FLANK STEAK: GF, DF, NF</h3>
              <p>x<span>1</span></p>
          </div>
      </div>
      <div class="custom-items-cart-wrapper">
          <div class="custom-add-items">
              <h3 class="cart-text-alignment">GRILLED MARINATED FLANK STEAK: GF, DF, NF</h3>
              <p>x<span>1</span></p>
          </div>
      </div>
      <div class="custom-items-cart-wrapper">
          <div class="custom-add-items">
              <h3 class="cart-text-alignment">GRILLED MARINATED FLANK STEAK: GF, DF, NF</h3>
              <p>x<span>1</span></p>
          </div>
      </div> -->


  </div>
</div>
<!-- </div>
</div> -->
