<div class="w3-teal">
      <button class="w3-button w3-teal w3-xlarge hide-toggle"(click)="icontoggle()">☰</button>


<div id="page-content-wrapper">
  <div class="container-fluid">
     <div class="row">
        <div class="col-lg-12 recepie-wrapper">
           <div>
           <div class="filter-input-text">
              <input type="filter" #searchInput  class="custom-search-bar col-md-12"
              placeholder="Search...">
           </div>
           <ng-container *ngFor="let item of category; let j=index;" >
              <div class="custom-text-entrees" >
                 <h1 class="custom-entries" *ngIf="!loading" id="{{item.sectionName}}">{{item.sectionName}}</h1>
              </div>

              <ng-container *ngFor="let sub of subCategory  let k = index;">
                 <h6 class="sub-sec-align" *ngIf="sub.sectionName === category[j].sectionName && !loading" >{{sub.subSectionName}}</h6>
                 <div class="custom-items-wrapper" >
                    <div class="boxes-wrapper nav">
                       <ng-container   *ngFor="let data of newMenu; let i=index;">
                          <div class="col-md-6 pl-0 "  *ngIf="data.sectionName === category[j].sectionName && data.subSectionName === subCategory[k].subSectionName" >
                             <div class="custom-box-wrapper" >
                                <div class="custom-image-wrapper-text">
                                   <div class="custom-items-description">
                                      <h2 class="custom-firsthead-content">{{data.itemName}}</h2>
                                      <p class="custom-fonts">{{data.description |slice:0:40}}</p>
                                      <div class="custom-addCart-Btn d-flex align-items-center justify-content-between">
                                         <span class="custom-dollar">${{data.price.toFixed(2)}}</span>
                                         <div class="d-flex align-items-center">
                                            <i class="fa fa-minus-circle px-1 orange " *ngIf="data.quantity > 0"  aria-hidden="true"  (click)="decreaseQuantity(data)"></i>
                                            <span class="px-1 my-0 py-0" *ngIf="data.quantity > 0">{{data.quantity}}</span>
                                            <i class="fa fa-plus-circle px-1 orange" aria-hidden="true" (click)="addToCart(data)"></i>
                                         </div>
                                      </div>
                                   </div>
                                   <div class="custom-section-image">
                                      <img *ngIf="!data.blobcontent" src="assets/images/cater/01.png" alt="" class="foodie">
                                      <!-- <img src="data:image/JPEG;base64,{{data.blobcontent}}" alt="" class="foodie img-fluid"> -->
                                      <img *ngIf="data.blobcontent" [src]="('data:image/JPEG;base64,' + data.blobcontent) | domsanitize" alt="" class="foodie img-fluid">


                                   </div>
                                </div>
                             </div>
                          </div>
                       </ng-container>
                    </div>
                 </div>
              </ng-container>
           </ng-container>
           <button type="button" [routerLink]="['/orders']"   routerLinkActive="router-link-active"
           class="custom-review" *ngIf="reviewOrdersCount>0 ">Review Order<span class="review-seven">{{reviewOrdersCount}}</span></button>
        </div>
     </div>
  </div>
</div>
</div>
